<style>
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Ysabeau+Infant:ital,wght@1,300&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Ysabeau+Infant:wght@500&display=swap');
</style>




<mat-card>
    <span><button (click)="del(leaf)" ><mat-icon>cancel</mat-icon></button></span>
    <div class="edit" (click)="showPopup()">
        <mat-card-header>
            <mat-card-subtitle>Note-</mat-card-subtitle>
            <mat-card-title>{{leaf.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{leaf.content}}</p>
        </mat-card-content>
    </div>
</mat-card>

<app-popup *ngIf="show" [subLeaf]="leaf"></app-popup>